doctype html
//
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/animeEdit.js', type="text/javascript")
    script(src='js/jquery.min.js')


  body
    // Seven
    section.wrapper.style1.align-center
      .inner.medium
        h2 Anime Post
          form
            .field.half.first
              label(for='name') Anime Title
              input#name(type='text', name='name', value='#{form_title}')
            .field.half
              label(for='rating') Rating
              input#rating(type='text', name='rating', value='#{form_rating}')
            .field.half.first
              label(for='fav_char') Favorite Character
              input#fav_char(type='text', name='rating', value='#{form_fav_char}')
            .field.half.first
              label(for='wallpaper') Wallpaper
              input#wallpaper(type='text', name='wallpaper', value='#{form_wallpaper}')
            .field
              label(for='review') Review
              p#charcount
              textarea#review(name='review') #{form_review}
            ul.actions
              li
                button#submit(type='submit', onclick="animeSubmit(\'#{form_id}\')", value='Post') Post

    section.wrapper.style1.align-center
      .inner.medium
        h2 Anime Titles
        div.table-wrapper
          table.alt
            thead
              tr
                th Title
                th Rating
                th Favorite Character
                th Review
                td Wallpaper Path
                th Modify
            tbody
              each anime in animes
                - var anime_title = anime['title'];
                - var rating = anime['rating'];
                - var fav_char = anime['fav_char'];
                - var review = anime['review'];
                - var id = anime['_id'];
                - var wallpaper = anime['wallpaper'];
                tr
                  td #{anime_title}
                  td #{rating}
                  td #{fav_char}
                  td #{review}
                  td #{wallpaper}
                    img(src='#{wallpaper}', alt='')

                  td
                    button#animeDelete(type='submit', onclick="animeDelete(\'#{id}\')", value='Post') Delete
                    button#animeEdit(type='submit', target='_blank', onclick="animeModify(\'#{id}\')", value='Post') Modify
                    button#animeAddEp(type='submit', onclick="animeEpSubmitRedirect(\'#{id}\')", value='Get') Add Episode


