doctype html
//
  Story by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/anime_edit.js', type="text/javascript")
    script(src='js/jquery.min.js')


  body
    // Seven
    section.wrapper.style1.align-center
      .inner.medium
        h2 Anime Post
        form
          .field.half.first
            label(for='name') Anime Title
            input#name(type='text', name='name', value='')
          .field.half
            label(for='rating') Rating
            input#rating(type='text', name='rating', value='')
          .field.half.first
            label(for='fav_char') Favorite Character
            input#fav_char(type='text', name='rating', value='')
          .field
            label(for='review') Review
            p#charcount
            textarea#review(name='review')
          ul.actions
            li
              button#submit(type='submit', onclick="animesubmit()", value='Post') Post

    section.wrapper.style1.align-center
      .inner.medium
        h2 Anime Titles
        div.table-wrapper
          table.alt
            thead
              tr
                th Title
                th Rating
                th Favorite Character
                th Review
                th Modify
            tbody
              each anime in animes
                - var anime_title = anime['title'];
                - var rating = anime['rating'];
                - var fav_char = anime['fav_char'];
                - var review = anime['review'];
                - var id = anime['_id'];
                tr
                  td #{anime_title}
                  td #{rating}
                  td #{fav_char}
                  td #{review}
                  td
                    button#anime_delete(type='submit', onclick="anime_delete(\'#{id}\')", value='Post') Delete
                    button#anime_edit(type='submit', onclick="anime_edit(\'#{id}\')", value='Post') Edit


