doctype html
//
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/blog.css')

  body.single
    // Wrapper
    #wrapper
      include blog_header
      // Main
      #main
        // Post
        article.post
          header
            .title
              h2
                a(href='#') #{title}
            - var lastModified = anime['last_modified'];
            .meta
              time.published(datetime='#{lastModified}') Updated #{lastModified}
          - var imgSrc = anime['wallpaper'];
          span.image.featured
            img(src='#{imgSrc}', alt='')
          - var review = anime['review'];
          p #{review}
          each episode in episodes
            hr
            h3 Episode #{episode['epNumber']}
            h5 Rating: #{episode['epRating']} / 10
            p #{episode['epReview']}
      // Footer
      include blog_footer
      // Scripts
      script(src='js/jquery.min.js')
      script(src='js/skel.min.js')
      script(src='js/util.js')
      script(src='js/blog.js')
